<p id="notice"><%= notice %></p>

<p>
  <strong>Name cn:</strong>
  <%= @menu.name_cn %>
</p>

<p>
  <strong>Name en:</strong>
  <%= @menu.name_en %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @menu.menu_id %>
</p>

<p>
  <strong>Link:</strong>
  <%= @menu.link %>
</p>

<p>
  <strong>Seq:</strong>
  <%= @menu.seq %>
</p>

<p>
  <strong>Seq:</strong>
  <%= @menu.seq %>
</p>

<p>
  <strong>Icon class:</strong>
  <%= @menu.icon_class %>
</p>

<p>
  <strong>Belong to:</strong>
  <%= @menu.belong_to %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
