
<% patient=Patient.find(params[:patient_id]) %>
<%= breadcrumbs("当前患者", patient.name, patient.id_number) %>
<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
<div style="padding: 20px 30px">
  年份: <input type="text" name="year" id="year" value="<%= Date.today.year %>">  <button id="search_btn" class="btn btn-sm btn-primary" name="button">搜索</button>
  <h5><font color="red">提示：点击发作次数可查看详情</font></h5>
</div>
<div style="width: 960px;height:100px; margin-top: 20px; margin-left: 80px">

  <table id="monthtable" border="2px" style="width: 80%;height: 80px;text-align: center">
    <tr>
      <td>月份</td>
      <td>1月</td>
      <td>2月</td>
      <td>3月</td>
      <td>4月</td>
      <td>5月</td>
      <td>6月</td>
      <td>7月</td>
      <td>8月</td>
      <td>9月</td>
      <td>10月</td>
      <td>11月</td>
      <td>12月</td>
    </tr>
    <tr>
      <td></td>
      <td td-pjax style="cursor: pointer" onclick="showInfo(<%= params[:year]%>,0)"></td>
      <td td-pjax style="cursor: pointer" onclick="showInfo(<%= params[:year]%>,1)"></td>
      <td td-pjax style="cursor: pointer" onclick="showInfo(<%= params[:year]%>,2)"></td>
      <td td-pjax style="cursor: pointer" onclick="showInfo(<%= params[:year]%>,3)"></td>
      <td td-pjax style="cursor: pointer" onclick="showInfo(<%= params[:year]%>,4)"></td>
      <td td-pjax style="cursor: pointer" onclick="showInfo(<%= params[:year]%>,5)"></td>
      <td td-pjax style="cursor: pointer" onclick="showInfo(<%= params[:year]%>,6)"></td>
      <td td-pjax style="cursor: pointer" onclick="showInfo(<%= params[:year]%>,7)"></td>
      <td td-pjax style="cursor: pointer" onclick="showInfo(<%= params[:year]%>,8)"></td>
      <td td-pjax style="cursor: pointer" onclick="showInfo(<%= params[:year]%>,9)"></td>
      <td td-pjax style="cursor: pointer"  onclick="showInfo(<%= params[:year]%>,10)"></td>
      <td td-pjax style="cursor: pointer" onclick="showInfo(<%= params[:year]%>,11)"></td>

    </tr>

  </table>
</div>
<div id="main" style="width: 960px;height:500px; margin-top: 20px"></div>

<script>
    $(document).ready(function(){
        var year = $("#year").val()
        var patient_id = <%= params[:patient_id] %>;
        loadData(year,patient_id)

    })

    function loadData(year,patient_id){
        $.ajax({
            url: '/statistics/index2_data',
            data: {year: year, patient_id:patient_id },
            type: 'get',
            dataType:'json',
            success:function(data){

                drawBar("main", data);
                drawTable('monthtable', data);
            },
            error:function(msg){
                alert("系统发生错误")
            }
        })
    }

    function drawBar(divID,data) {
        var myChart = echarts.init(document.getElementById(divID));
        option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {type: 'cross'}
            },
//            toolbox: {
//                feature: {
//                    dataView: {show: true, readOnly: false},
//                    magicType: {show: true, type: [ 'line']},
//                    restore: {show: true},
//                    saveAsImage: {show: true}
//                }
//            },
            toolbox: {
                show: true,
                feature: {
                    magicType: {show: true, type: ['line', 'bar']},
                    saveAsImage: {
                        show:true,
                        excludeComponents :['toolbox'],
                        pixelRatio: 2
                    }
                }
            },
            legend: {
                data:["发病次数"]

            },
            xAxis: [
                {
                    type: 'category',
                    data: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '次数',

                    interval: 1,
                    axisLabel: {
                        formatter: '{value} '
                    }
                },
                {
                    type: 'value',
                    name: '次数',
                    interval: 1,
                    axisLabel: {
                        formatter: '{value}'
                    }
                }
            ],

            series: data.series
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

    }

    function drawTable(divId, data){
        var tds = $("#"+divId + " tr:nth-child(2) td")
        console.log(tds)
        $.each(tds, function(i, item){
            if(i==0){
                item.innerHTML = '发作次数'
            }else{
                console.log(data.series[0])
                item.innerHTML = data.series[0].data[i-1];
            }
        });
        //.$("#test tr td:nth-child(2)").addClass('red');
    }
    $('#search_btn').click(function(){
        var year = $("#year").val()
        var patient_id = <%= params[:patient_id] %>;

        if(year !=null && Number(year)>1900 ){
            console.log("重新加载数据");
            loadData(year,patient_id)
        }else{
            alert("请输入整数年份")
        }
    })

    function showInfo(year, month){
        month = month+1;
        $(document).on('click', '[td-pjax]', function(event) {
            $.pjax({ url: '/statistics/by_month?menu_type=2&&patient_id=<%= params[:patient_id]%>&&patient_visit_id=<%= params[:patient_visit_id]%>&year='+year+'&month='+month, container: '#pjax-container' });
        })
    }

</script>