<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @section.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @section.subtitle %>
</p>

<p>
  <strong>Seq:</strong>
  <%= @section.seq %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @section.parent_id %>
</p>

<p>
  <strong>Crf:</strong>
  <%= @section.crf_id %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
