<%= form_for(@patient, :html=>{:class=>"form-horizontal"}, :role=>"form") do |f| %>
    <%= f.hidden_field :file_type, :value=>params[:file_type] %>
    <!--基本信息-->
    <div class="widget-box" id="patient">
      <div class="widget-header">
        <h4>基本信息</h4>
        <div class="widget-toolbar">
          <a href="#" data-action="collapse">
            <i class="icon-chevron-up"></i>
          </a>
        </div>
      </div>
      <div class="widget-body">
        <div class="widget-main">
          <div class="form-group">
            <%= f.label :file_number, "病案号", :class=>"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              <%= f.text_field :file_number, :placeholder=>"", :class=>"col-xs-10 col-sm-5" %>
            </div>
          </div>
          <div class="space-4"></div>

          <div class="form-group">
            <%= f.label :id_number, "身份证号", :class=>"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              <%= f.text_field :id_number, :placeholder=>"", :class=>"col-xs-10 col-sm-5" %>
            </div>
          </div>
          <div class="space-4"></div>

          <div class="form-group">
            <%= f.label :name, "姓名", :class=>"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              <%= f.text_field :name, :placeholder=>"", :class=>"col-xs-10 col-sm-5" %>
            </div>
          </div>
          <div class="space-4"></div>

          <div class="form-group">
            <%= f.label :gender, "性别", :class=>"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              <div class="radio">
                <label>
                  <%= f.radio_button :gender, "男", :class=>"ace" %>
                  <span class="lbl"> 男</span>
                </label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                  <%= f.radio_button :gender, "女", :class=>"ace" %>
                  <span class="lbl"> 女</span>
                </label>
              </div>

            </div>
          </div>
          <div class="space-4"></div>

          <div class="form-group">
            <%= f.label :birthday, "出生日期", :class=>"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-4">
              <div class="input-group" >
                <%= f.text_field :birthday, "data-date-format"=>"yyyy-mm-dd", :class=>"form-control date-picker" %>
                <span class="input-group-addon">
              <i class="icon-calendar bigger-110"></i>
            </span>
              </div>
            </div>
          </div>
          <div class="space-4"></div>
        </div>
      </div>
    </div>
    <!--基本信息结束-->

    <!--就诊信息-->
    <%= hidden_field :patient_visit, :id, :value=>@patient_visit.id %>
    <div class="widget-box" id="patient_visit">
      <div class="widget-header">
        <h4>就诊信息</h4>
        <div class="widget-toolbar">
          <a href="#" data-action="collapse">
            <i class="icon-chevron-up"></i>
          </a>
        </div>
      </div>
      <div class="widget-body">
        <div class="widget-main">
          <div class="form-group">
            <%= label :patient_visit, :telephone, "联系电话", :class=>"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              <%= text_field :patient_visit, :telephone, :class=>"col-xs-10 col-sm-5"  %>
            </div>
          </div>
          <div class="space-4"></div>

          <div class="form-group">
            <%= label :patient_visit, :home_address, "家庭住址", :class=>"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              <%= text_field :patient_visit, :home_address, :class=>"col-xs-10 col-sm-5"  %>
            </div>
          </div>
          <div class="space-4"></div>

          <div class="form-group">
            <%= label :patient_visit, :degree_of_education, "文化程度", :class=>"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              <%= select :patient_visit, :degree_of_education, options_from_collection_for_select(PublicLib.where('table_name=? and item_name=?', 'patient_visits', 'degree_of_education'), 'item_text', 'item_value'),{include_blank: true}, :class=>"width-40 chosen-select"%>
            </div>
          </div>
          <div class="space-4"></div>

          <div class="form-group">
            <%= label :patient_visit, :occupation, "职业", :class=>"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              <%= select :patient_visit,  :occupation, options_from_collection_for_select(PublicLib.where('table_name=? and item_name=?', 'patient_visits', 'occupation'), 'item_text', 'item_value'),{include_blank: true}, :class=>"width-40 chosen-select"%>
            </div>
          </div>
          <div class="space-4"></div>

          <div class="form-group">
            <%= label :patient_visit, :person_filing, "建档人", :class=>"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              <%= select :patient_visit, :person_filing, [],{}, :class=>"width-40 chosen-select"%>
            </div>
          </div>
          <div class="space-4"></div>

          <div class="form-group">
            <%= label :patient_visit, :responsible_doctor, "责任医生", :class=>"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              <%= select :patient_visit, :responsible_doctor, [],{}, :class=>"width-40 chosen-select"%>
            </div>
          </div>
          <div class="space-4"></div>

          <div class="form-group">
            <%= label :patient_visit, :created_unit, "建档单位", :class=>"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              <%= text_field :patient_visit, :created_unit, :class=>"col-xs-10 col-sm-5"  %>
            </div>
          </div>
          <div class="space-4"></div>

          <div class="form-group">
            <%= label :patient_visit, :created_date, "建档日期", :class=>"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-4">
              <div class="input-group" >
                <%= text_field :patient_visit, :created_date, "data-date-format"=>"yyyy-mm-dd", :class=>"form-control date-picker" %>
                <span class="input-group-addon">
                        <i class="icon-calendar bigger-110"></i>
                    </span>
              </div>
            </div>

          </div>
          <div class="space-4"></div>
        </div>
      </div>
    </div>
    <!--就诊信息结束-->

    <!--crf 内容展现-->
    <% if !@crf_info.nil? %>
        <% sections = @crf_info.sections %>
        <% sections.each do |section| %>
            <div class="widget-box" id="section<%= section.id %>">
              <div class="widget-header">
                <h4><%= section.title %></h4>

                <div class="widget-toolbar">
                  <a href="#" data-action="collapse">
                    <i class="icon-chevron-up"></i>
                  </a>
                </div>
              </div>
              <div class="widget-body">
                <div class="widget-main">
                  <% section.item_form_metaelements.order('id asc').each do |item_form_metaelement|%>
                      <% item = item_form_metaelement.item %>
                      <% parent_item = item_form_metaelement.parent_item  %>
                      <% cls_suffix="" %>
                      <% if !parent_item.nil? %>
                          <% cls_suffix = "_children" %>
                      <% end %>
                      <% if !item.nil? %> <!--普通item-->

                          <div class="form-group <%= parent_item.nil? ? 'item' : (parent_item.name + " item_children")  %>" index="<%=item_form_metaelement.options_index %>">
                            <label class="col-sm-3 control-label " for="<%= "item_#{item.id}" %>"> <%= item.left_item_text %> </label>
                            <div class="col-sm-9">
                              <%= item_display(item, value = nil, options = {}) %><%= item.units %>
                            </div>
                          </div>

                      <% else %> <!--group 中的item -->
                          <% items = item_form_metaelement.items %>
                          <% item_group = item_form_metaelement.item_group %>

                          <fieldset>
                            <legend>
                              <h4>
                                <%= item_group.description %>
                                <a href="javascript:void(null)" onclick="javascript:addGroup('item_group_<%= item_group.id %>')"><span class="icon-plus-sign purple"></span></a>
                                <a href="javascript:void(null)" onclick="javascript:delGroup('item_group_<%= item_group.id %>')"><span class="icon-trash red"></span></a>

                              </h4>
                            </legend>
                            <div id="item_group_<%= item_group.id %>">
                              <div>
                                <% items.each do |item| %>
                                    <div class="form-group" >
                                      <label class="col-sm-3 control-label no-padding-right" for="<%= "item_#{item.id}" %>"> <%= item.left_item_text %> </label>
                                      <div class="col-sm-9">
                                        <%= item_display(item, value = nil, options = {}) %>
                                      </div>
                                    </div>
                                <% end %>
                              </div>
                            </div>

                          </fieldset>
                      <% end %>
                      <div class="space-4"></div>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>

    <!--crf 内容展现结束-->

    <div class="clearfix form-actions">
      <div class="col-md-offset-3 col-md-9">
        <button class="btn btn-info pjax-link" >
          <i class="icon-ok bigger-110"></i>
          提交
        </button>
        &nbsp; &nbsp; &nbsp;
        <%= link_to raw("#{content_tag(:i, nil, :class=>"icon-undo bigger-110")}返回"), patients_path, :class=>"btn pjax-link" %>

      </div>
    </div>
<% end %>
