
<div class="breadcrumbs" id="breadcrumbs">
  <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
  </script>

  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="/home/index">主页</a>
    </li>

    <li>
      <a href="#">患者管理</a>
    </li>
    <li class="active">患者列表</li>
  </ul><!-- .breadcrumb -->

</div>

<div class="page-content">

      <div class="row">
        <div class="col-xs-12">

          <div class="table-header">
            患者信息－列表
          </div>
          <div class="table-responsive">
            <table id="sample-table" class="table table-striped table-bordered table-hover">
              <thead>
              <tr>
                <th class="center">
                  <label>
                    <input type="checkbox" class="ace" />
                    <span class="lbl"></span>
                  </label>
                </th>
                <th>档案号</th>
                <th>姓名</th>
                <th>性别</th>
                <th class="hidden-480">出生日期</th>
                <th class="hidden-480">档案类型</th>
                <th>
                  <i class="icon-time bigger-110 hidden-480"></i>
                  更新时间
                </th>
                <th>操作</th>
              </tr>
              </thead>

              <tbody>
              <% @patients.each do |patient| %>
                  <tr>
                    <td class="center">
                      <label>
                        <input type="checkbox" class="ace" />
                        <span class="lbl"></span>
                      </label>
                    </td>

                    <td>
                      <%= link_to patient.file_number, {:action=>:show, :id=>patient.id} %>
                    </td>
                    <td><%= patient.name %></td>
                    <td class="hidden-480"><%= patient.gender %></td>
                    <td><%= patient.birthday %></td>

                    <td class="hidden-480">
                      <% if patient.file_type==Patient::EASY %>
                          <span class="label label-sm label-warning"><%= patient.get_file_type %></span>
                      <% elsif patient.file_type==Patient::DETAIL %>
                          <span class="label label-sm label-success"><%= patient.get_file_type %></span>
                      <% end %>
                    </td>

                    <td><%= patient.updated_at.localtime.to_s(:db)%></td>
                    <td>
                      <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                        <%#= link_to content_tag(:i, nil, :class=>"icon-zoom-in bigger-130")+"查看", patient, :class=>"blue" %>
                        <% if patient.file_type==Patient::EASY %>
                            <%= link_to content_tag(:i, nil, :class=>"icon-book bigger-130")+"补充详细", {:action => :edit, :id=>patient.id, :file_type=>2}, :class=>"green pjax-link", :title => '补充详细' %>
                            <%= link_to content_tag(:i, nil, :class=>"icon-pencil bigger-130")+"修改", edit_patient_path(patient)+"?file_type=1", :class=>"blue  pjax-link" %>
                        <% elsif patient.file_type==Patient::DETAIL %>
                            <%= link_to content_tag(:i, nil, :class=>"icon-edit bigger-130")+"添加随访", {:controller => :item_form_metaelements, :action => :new, :menu_type=>3}, :class=>"green", :target=>'_blank', :title => '添加随访' %>
                            <%= link_to content_tag(:i, nil, :class=>"icon-pencil bigger-130")+"修改", edit_patient_path(patient)+"?file_type=2", :class=>"blue  pjax-link" %>
                        <% end %>
                        <%= link_to content_tag(:i, nil, :class=>"icon-trash bigger-130")+"删除", patient, {method: :delete, data: { confirm: '确定要删除?' }, :class=>"red  pjax-link"} %>
                      </div>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
     <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.page-content -->



<script type="text/javascript">
    $(function($) {
        var oTable1 = $('#sample-table').dataTable( {
            "aoColumns": [
                { "bSortable": false },
                null, null,null, null, null,null,
                { "bSortable": false }
                ],
            "oLanguage": {
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "sSearch": "搜索",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                },
                "sZeroRecords": "没有检索到数据",
                "sProcessing": "<img src='./loading.gif' />"
            }

        });
//        if($("#sample-table").attr('class')!="table table-striped table-bordered table-hover dataTable") { //阻止pjax刷新后 前进后退时多次执行初始化
//
//         }

        $('#sample-table_filter').prepend(
                    '<a href="/patients/new?file_type=2"><button class="btn btn-sm btn-primary" name="button">添加详细档案</button></a>&nbsp;&nbsp;&nbsp;&nbsp;'+
                    '<a href="/patients/new?file_type=1"><button class="btn btn-sm btn-primary" name="button">添加简易档案</button></a>&nbsp;&nbsp;&nbsp;&nbsp;'
        )
        $('table th input:checkbox').on('click' , function(){
            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox')
                    .each(function(){
                        this.checked = that.checked;
                        $(this).closest('tr').toggleClass('selected');
                    });

        });

    })


</script>