<%= form_for(@crf_info) do |f| %>
  <% if @crf_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crf_info.errors.count, "error") %> prohibited this crf_info from being saved:</h2>

      <ul>
      <% @crf_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :seq %><br>
    <%= f.number_field :seq %>
  </div>
  <div class="field">
    <%= f.label :crf_type %><br>
    <%= f.number_field :crf_type %>
  </div>
  <div class="field">
    <%= f.label :follow %><br>
    <%= f.number_field :follow %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
