<p id="notice"><%= notice %></p>

<h1>Listing Item Group Metaelements</h1>

<table>
  <thead>
    <tr>
      <th>No</th>
      <th>Parentno</th>
      <th>Item group</th>
      <th>Crf info</th>
      <th>Header</th>
      <th>Subheader</th>
      <th>Repeat number</th>
      <th>Repeat max</th>
      <th>Item</th>
      <th>Seq</th>
      <th>Show group</th>
      <th>Repeating group</th>
      <th>Options index</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item_group_metaelements.each do |item_group_metaelement| %>
      <tr>
        <td><%= item_group_metaelement.no %></td>
        <td><%= item_group_metaelement.parentno %></td>
        <td><%= item_group_metaelement.item_group_id %></td>
        <td><%= item_group_metaelement.crf_info_id %></td>
        <td><%= item_group_metaelement.header %></td>
        <td><%= item_group_metaelement.subheader %></td>
        <td><%= item_group_metaelement.repeat_number %></td>
        <td><%= item_group_metaelement.repeat_max %></td>
        <td><%= item_group_metaelement.item_id %></td>
        <td><%= item_group_metaelement.seq %></td>
        <td><%= item_group_metaelement.show_group %></td>
        <td><%= item_group_metaelement.repeating_group %></td>
        <td><%= item_group_metaelement.options_index %></td>
        <td><%= link_to 'Show', item_group_metaelement %></td>
        <td><%= link_to 'Edit', edit_item_group_metaelement_path(item_group_metaelement) %></td>
        <td><%= link_to 'Destroy', item_group_metaelement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item group metaelement', new_item_group_metaelement_path %>
