<p id="notice"><%= notice %></p>

<p>
  <strong>No:</strong>
  <%= @item_group_metaelement.no %>
</p>

<p>
  <strong>Parentno:</strong>
  <%= @item_group_metaelement.parentno %>
</p>

<p>
  <strong>Item group:</strong>
  <%= @item_group_metaelement.item_group_id %>
</p>

<p>
  <strong>Crf info:</strong>
  <%= @item_group_metaelement.crf_info_id %>
</p>

<p>
  <strong>Header:</strong>
  <%= @item_group_metaelement.header %>
</p>

<p>
  <strong>Subheader:</strong>
  <%= @item_group_metaelement.subheader %>
</p>

<p>
  <strong>Repeat number:</strong>
  <%= @item_group_metaelement.repeat_number %>
</p>

<p>
  <strong>Repeat max:</strong>
  <%= @item_group_metaelement.repeat_max %>
</p>

<p>
  <strong>Item:</strong>
  <%= @item_group_metaelement.item_id %>
</p>

<p>
  <strong>Seq:</strong>
  <%= @item_group_metaelement.seq %>
</p>

<p>
  <strong>Show group:</strong>
  <%= @item_group_metaelement.show_group %>
</p>

<p>
  <strong>Repeating group:</strong>
  <%= @item_group_metaelement.repeating_group %>
</p>

<p>
  <strong>Options index:</strong>
  <%= @item_group_metaelement.options_index %>
</p>

<%= link_to 'Edit', edit_item_group_metaelement_path(@item_group_metaelement) %> |
<%= link_to 'Back', item_group_metaelements_path %>
