<!DOCTYPE html>
<html>	
<head>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> </script>
<meta name="keywords" content="Flat Dark Web Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
<link rel="stylesheet" href="/assets/login/style.css" />


<script src='/assets/jquery-1.10.2.min.js'></script>
</head>
<body>
<%#= User.create() %>
 <!--SIGN UP-->
 <h1><%= YAML.load_file(File.join(Rails.root, 'config', 'app.yml'))['name'] %></h1>
<div class="login-form">
	<div class="close"> </div>
    <div class="head-info">
        <label class="lbl-1"> </label>
        <label class="lbl-2"> </label>
        <label class="lbl-3"> </label>
    </div>
    <div class="clear"> </div>
    <div class="avtar">
        <img src="/assets/avtar.png" />
    </div>
  <p class="notice" style="color: red"><%= notice %></p>
  <p class="alert" style="color: red"><%= alert %></p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <!--<input type="text" name="username" class="text" value="username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'username';}" >-->
      <%= f.text_field 'username', :class=>'text', :onblur=>"if (this.value == '') {this.value = 'username';}"  %>
      <div class="key">
        <!--<input type="password"  name="password" value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}">-->
        <%= f.password_field 'password', :class=>'text', :onblur=>"if (this.value == '') {this.value = 'password';}" %>
      </div>
      <div class="signin">
        <input type="submit" value="登录" >
      </div>
    <% end %>

</div>
 <div class="copy-rights">
   <p>Copyright &copy; 2015.</p>
 </div>

</body>
</html>