<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @patient_visit.patient_id %>
</p>

<p>
  <strong>Visiting time:</strong>
  <%= @patient_visit.visiting_time %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @patient_visit.telephone %>
</p>

<p>
  <strong>Home address:</strong>
  <%= @patient_visit.home_address %>
</p>

<p>
  <strong>Degree of education:</strong>
  <%= @patient_visit.degree_of_education %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @patient_visit.occupation %>
</p>

<p>
  <strong>Responsible doctor:</strong>
  <%= @patient_visit.responsible_doctor %>
</p>

<p>
  <strong>Person filing:</strong>
  <%= @patient_visit.person_filing %>
</p>

<p>
  <strong>Created date:</strong>
  <%= @patient_visit.created_date %>
</p>

<p>
  <strong>Created unit:</strong>
  <%= @patient_visit.created_unit %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @patient_visit.marital_status %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @patient_visit.contact_name %>
</p>

<p>
  <strong>Contact relationship:</strong>
  <%= @patient_visit.contact_relationship %>
</p>

<p>
  <strong>Contact address:</strong>
  <%= @patient_visit.contact_address %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @patient_visit.contact_phone %>
</p>

<p>
  <strong>Visit type:</strong>
  <%= @patient_visit.visit_type %>
</p>

<p>
  <strong>Patient source:</strong>
  <%= @patient_visit.patient_source %>
</p>

<p>
  <strong>Admission number:</strong>
  <%= @patient_visit.admission_number %>
</p>

<p>
  <strong>Admission date:</strong>
  <%= @patient_visit.admission_date %>
</p>

<p>
  <strong>Discharge date:</strong>
  <%= @patient_visit.discharge_date %>
</p>

<p>
  <strong>Outpatient number:</strong>
  <%= @patient_visit.outpatient_number %>
</p>

<p>
  <strong>Diagnostic types:</strong>
  <%= @patient_visit.diagnostic_types %>
</p>

<p>
  <strong>Diagnostic degree:</strong>
  <%= @patient_visit.diagnostic_degree %>
</p>

<p>
  <strong>Diagnostic anoxia:</strong>
  <%= @patient_visit.diagnostic_anoxia %>
</p>

<p>
  <strong>Other diseases:</strong>
  <%= @patient_visit.other_diseases %>
</p>

<%= link_to 'Edit', edit_patient_visit_path(@patient_visit) %> |
<%= link_to 'Back', patient_visits_path %>
