<%= form_for(@sys_export) do |f| %>
  <% if @sys_export.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sys_export.errors.count, "error") %> prohibited this sys_export from being saved:</h2>

      <ul>
      <% @sys_export.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :field_zh_name %><br />
    <%= f.text_field :field_zh_name %>
  </div>
  <div class="field">
    <%= f.label :field_en_name %><br />
    <%= f.text_field :field_en_name %>
  </div>
  <div class="field">
    <%= f.label :table_name %><br />
    <%= f.text_field :table_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
