
<% patient=Patient.find(params[:patient_id]) %>
<%= breadcrumbs("当前患者", patient.name, patient.id_number) %>
<div class="page-content">
  <div class="row">
    <div class="col-xs-12">

      <!--<div class="table-header">-->
        <!--癫痫观察表－列表-->
      <!--</div>-->

      <div style="width: 80%;overflow-x:scroll;text-align: center;margin:0 auto">
        <div style="text-align:right;height: 50px">
          <a href="/observes/new?file_type=2&&patient_id=<%=params[:patient_id]%>&patient_visit_id=<%=params[:patient_visit_id]%>" class="pjax-link"><button class="btn btn-sm btn-primary" name="button">添加</button></a>
        </div>
        <table border="2px" style="text-align: center;margin:0 auto">
          <tr>
            <td colspan="<%= @data.length*4+1 %>"><h3>癫痫观察表</h3></td>
          </tr>
          <tr>
            <td rowspan="2">时间</td>
            <% @data.each do |data| %>
                <td colspan="4"><%= data[:date] %></td>
            <% end %>
          </tr>
          <tr>
            <% (0...@data.length).each do  %>
                <td>药物</td>
                <td>发作</td>
                <td>诱因</td>
                <td>睡眠</td>
            <% end %>
          </tr>

          <% (1..24).each do |hour| %>
              <tr>
                <td><%= hour %></td>
                <% @data.each do |data| %>
                    <td><%=raw data[hour.to_s]["drug"] %></td>
                    <td><%=raw data[hour.to_s]["attack"] %></td>
                    <td><%=raw data[hour.to_s]["cause"] %></td>
                    <td><%=raw data[hour.to_s]["sleep_info"] %></td>
                <% end %>
              </tr>
          <% end %>
        </table>
      </div>

    </div>
  </div>
  <!-- PAGE CONTENT ENDS -->
</div><!-- /.page-content -->

