<div class="breadcrumbs" id="breadcrumbs">
  <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
  </script>

  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="#">Home</a>
    </li>

    <li>
      <a href="#">Forms</a>
    </li>
    <li class="active">Form Elements</li>
  </ul><!-- .breadcrumb -->


</div>

<div class="page-content">

  <div class="row">
    <div class="col-xs-10">
      <!-- PAGE CONTENT BEGINS -->
      <form class="form-horizontal" role="form">
        <% @sections.each do |section| %>
            <div class="widget-box" id="section<%= section.id %>">
              <div class="widget-header">
                <h4><%= section.title %></h4>

                <div class="widget-toolbar">
                  <a href="#" data-action="collapse">
                    <i class="icon-chevron-up"></i>
                  </a>
                </div>
              </div>
              <div class="widget-body">
                <div class="widget-main">
                  <% section.item_form_metaelements.order('id asc').each do |item_form_metaelement|%>
                      <% item = item_form_metaelement.item %>
                      <% parent_item = item_form_metaelement.parent_item  %>
                      <% cls_suffix="" %>
                      <% if !parent_item.nil? %>
                          <% cls_suffix = "_children" %>
                      <% end %>
                      <% if !item.nil? %> <!--普通item-->

                          <div class="form-group <%= parent_item.nil? ? 'item' : (parent_item.name + " item_children")  %>" index="<%=item_form_metaelement.options_index %>">
                            <label class="col-sm-3 control-label " for="<%= "item_#{item.id}" %>"> <%= item.left_item_text %> </label>
                            <div class="col-sm-9">
                              <%= item_display(item, value = nil, options = {}) %><%= item.units %>
                            </div>
                          </div>

                      <% else %> <!--group 中的item -->
                          <% items = item_form_metaelement.items %>
                          <% item_group = item_form_metaelement.item_group %>

                          <fieldset>
                            <legend>
                              <h4>
                                <%= item_group.description %>
                                <a href="javascript:void(null)" onclick="javascript:addGroup('item_group_<%= item_group.id %>')"><span class="icon-plus-sign purple"></span></a>
                                <a href="javascript:void(null)" onclick="javascript:delGroup('item_group_<%= item_group.id %>')"><span class="icon-trash red"></span></a>

                              </h4>
                            </legend>
                            <div id="item_group_<%= item_group.id %>">
                              <div>
                                  <% items.each do |item| %>
                                      <div class="form-group" >
                                        <label class="col-sm-3 control-label no-padding-right" for="<%= "item_#{item.id}" %>"> <%= item.left_item_text %> </label>
                                        <div class="col-sm-9">
                                          <%= item_display(item, value = nil, options = {}) %>
                                        </div>
                                      </div>
                                  <% end %>
                              </div>
                            </div>

                          </fieldset>
                      <% end %>
                      <div class="space-4"></div>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>

        <!--submit & reset button-->
        <div class="clearfix form-actions">
          <div class="col-md-offset-3 col-md-9">
            <!--<button class="btn btn-info" type="button">-->
            <button class="btn btn-info" type="reset">
              <i class="icon-ok bigger-110"></i>
              提交
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
              <i class="icon-undo bigger-110"></i>
              返回
            </button>
          </div>
        </div>
        <div class="hr hr-24"></div>
        <hr />
      </form>
     <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->

    <div class="col-xs-2">
      <div class="fixed_div">
        <% @sections.each do |section| %>
            <a href="#section<%= section.id %>"><%= section.title %></a><br><br><br>
        <% end %>
      </div>

    </div>
  </div><!-- /.row -->
</div><!-- /.page-content -->


