<div class="breadcrumbs" id="breadcrumbs">
  <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
  </script>

  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="#">病历信息</a>
    </li>

    <!--<li>-->
      <!--<a href="#">Forms</a>-->
    <!--</li>-->
    <!--<li class="active">Form Elements</li>-->
  </ul><!-- .breadcrumb -->
</div>

<div class="page-content">
  <div class="row">
    <div class="col-xs-10">
      <!-- PAGE CONTENT BEGINS -->
      <form class="form-horizontal" action="/item_form_metaelements" method="post" role="form">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
        <input name="crf_info_id" type="hidden" value="<%= params[:crf_info_id] %>"/>
        <input name="menu_id" type="hidden" value="<%= params[:menu_id] %>"/>
        <input name="patient_id" type="hidden" value="<%= params[:patient_id] %>"/>
        <input name="patient_visit_id" type="hidden" value="<%= params[:patient_visit_id] %>"/>
        <% @sections.each do |section| %>
            <div class="widget-box" id="section<%= section.id %>">
              <div class="widget-header">
                <h4><%= section.title %></h4>
                <div class="widget-toolbar">
                  <a href="#" data-action="collapse">
                    <i class="icon-chevron-up"></i>
                  </a>
                </div>
              </div>
              <div class="widget-body">
                <div class="widget-main">
                  <% item_form_metaelements = section.item_form_metaelements %>
                  <% item_form_metaelements.order('id asc').each do |item_form_metaelement|%>
                      <% item = item_form_metaelement.item %>
                      <% parent_item = item_form_metaelement.parent_item  %>
                      <% cls_suffix="" %>
                      <% if !parent_item.nil? %>
                          <% cls_suffix = "_children" %>
                      <% end %>
                      <% if !item.nil? %> <!--普通item-->
                          <!--<div class="form-group <%#= parent_item.nil? ? ' item ' : (parent_item.name + " item_children")  %>" index="<%=item_form_metaelement.options_index %>">-->
                          <% if item.response_type=='img'%>
                              <div class="widget-main">
                                <label class="col-sm-3 control-label " for="<%= "item_#{item.id}" %>"> <%= item.left_item_text %> </label>
                                <input multiple="" type="file" id="id-input-file-3" />
                                <label>
                                  <input type="checkbox" name="file-format" id="id-file-format" class="ace" />
                                  <span class="lbl"> Allow only images</span>
                                </label>
                              </div>
                          <% else %>
                              <div class="form-group <%= parent_item.nil? ? ' ' : (parent_item.name )  %>" index="<%=item_form_metaelement.options_index %>">
                                <label class="col-sm-3 control-label " for="<%= "item_#{item.id}" %>"> <%= item.left_item_text %> </label>
                                <div class="col-sm-9">
                                  <%= item_display(item, nil, nil,value = nil, options = {}) %><%= item.units %>
                                </div>
                              </div>

                          <% end %>
                      <% else %> <!--group 中的item -->
                          <% items = item_form_metaelement.items.order('id asc') %>
                          <% item_group = item_form_metaelement.item_group %>
                          <fieldset>
                            <legend>
                              <h4>
                                <%= item_group.description %>
                                <a href="javascript:void(null)" onclick="javascript:addGroup('item_group_<%= item_group.id %>')"><span class="icon-plus-sign purple"></span></a>
                                <a href="javascript:void(null)" onclick="javascript:delGroup('item_group_<%= item_group.id %>')"><span class="icon-trash red"></span></a>
                              </h4>
                            </legend>
                            <div id="item_group_<%= item_group.id %>" >
                              <div class="group">
                                  <% items.each do |item| %>
                                      <div class="form-group" >
                                        <label class="col-sm-3 control-label no-padding-right" for="<%= "item_#{item.id}" %>"> <%= item.left_item_text %> </label>
                                        <div class="col-sm-9">
                                          <%= item_display(item, value = nil, options = {}) %>
                                        </div>
                                      </div>
                                  <% end %>
                              </div>
                            </div>
                          </fieldset>
                      <% end %>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>

        <!--submit & reset button-->
        <div class="clearfix form-actions">
          <div class="col-md-offset-3 col-md-9">
            <!--<button class="btn btn-info" type="button">-->
            <button class="btn btn-info" type="submit">
              <i class="icon-ok bigger-110"></i>
              提交
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
              <i class="icon-undo bigger-110"></i>
              返回
            </button>
          </div>
        </div>
        <div class="hr hr-24"></div>
        <hr />
      </form>
     <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->

    <div class="col-xs-2">
      <div class="fixed_div">
      </div>
    </div>

    <div class="col-xs-2">
      <div class="fixed_div">
        <ul class="nav">
          <% @sections.each do |section| %>
              <li><a href="#section<%= section.id %>"><%= section.title %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div><!-- /.row -->
</div><!-- /.page-content -->


<script>
    $('#id-disable-check').on('click', function() {
        var inp = $('#form-input-readonly').get(0);
        if(inp.hasAttribute('disabled')) {
            inp.setAttribute('readonly' , 'true');
            inp.removeAttribute('disabled');
            inp.value="This text field is readonly!";
        }
        else {
            inp.setAttribute('disabled' , 'disabled');
            inp.removeAttribute('readonly');
            inp.value="This text field is disabled!";
        }
    });


    $(".chosen-select").chosen();
    $('#chosen-multiple-style').on('click', function(e){
        var target = $(e.target).find('input[type=radio]');
        var which = parseInt(target.val());
        if(which == 2) $('#form-field-select-4').addClass('tag-input-style');
        else $('#form-field-select-4').removeClass('tag-input-style');
    });


    $('[data-rel=tooltip]').tooltip({container:'body'});
    $('[data-rel=popover]').popover({container:'body'});

    $('textarea[class*=autosize]').autosize({append: "\n"});
    $('textarea.limited').inputlimiter({
        remText: '%n character%s remaining...',
        limitText: 'max allowed : %n.'
    });

    $.mask.definitions['~']='[+-]';
    $('.input-mask-date').mask('99/99/9999');
    $('.input-mask-phone').mask('(999) 999-9999');
    $('.input-mask-eyescript').mask('~9.99 ~9.99 999');
    $(".input-mask-product").mask("a*-999-a999",{placeholder:" ",completed:function(){alert("You typed the following: "+this.val());}});



    $( "#input-size-slider" ).css('width','200px').slider({
        value:1,
        range: "min",
        min: 1,
        max: 8,
        step: 1,
        slide: function( event, ui ) {
            var sizing = ['', 'input-sm', 'input-lg', 'input-mini', 'input-small', 'input-medium', 'input-large', 'input-xlarge', 'input-xxlarge'];
            var val = parseInt(ui.value);
            $('#form-field-4').attr('class', sizing[val]).val('.'+sizing[val]);
        }
    });

    $( "#input-span-slider" ).slider({
        value:1,
        range: "min",
        min: 1,
        max: 12,
        step: 1,
        slide: function( event, ui ) {
            var val = parseInt(ui.value);
            $('#form-field-5').attr('class', 'col-xs-'+val).val('.col-xs-'+val);
        }
    });


    $( "#slider-range" ).css('height','200px').slider({
        orientation: "vertical",
        range: true,
        min: 0,
        max: 100,
        values: [ 17, 67 ],
        slide: function( event, ui ) {
            var val = ui.values[$(ui.handle).index()-1]+"";

            if(! ui.handle.firstChild ) {
                $(ui.handle).append("<div class='tooltip right in' style='display:none;left:16px;top:-6px;'><div class='tooltip-arrow'></div><div class='tooltip-inner'></div></div>");
            }
            $(ui.handle.firstChild).show().children().eq(1).text(val);
        }
    }).find('a').on('blur', function(){
        $(this.firstChild).hide();
    });

    $( "#slider-range-max" ).slider({
        range: "max",
        min: 1,
        max: 10,
        value: 2
    });

    $( "#eq > span" ).css({width:'90%', 'float':'left', margin:'15px'}).each(function() {
        // read initial values from markup and remove that
        var value = parseInt( $( this ).text(), 10 );
        $( this ).empty().slider({
            value: value,
            range: "min",
            animate: true

        });
    });


    $('#id-input-file-1 , #id-input-file-2').ace_file_input({
        no_file:'No File ...',
        btn_choose:'Choose',
        btn_change:'Change',
        droppable:false,
        onchange:null,
        thumbnail:false //| true | large
        //whitelist:'gif|png|jpg|jpeg'
        //blacklist:'exe|php'
        //onchange:''
        //
    });

    $('#id-input-file-3').ace_file_input({
        style:'well',
        btn_choose:'Drop files here or click to choose',
        btn_change:null,
        no_icon:'icon-cloud-upload',
        droppable:true,
        thumbnail:'small'//large | fit
        //,icon_remove:null//set null, to hide remove/reset button
        /**,before_change:function(files, dropped) {
						//Check an example below
						//or examples/file-upload.html
						return true;
					}*/
        /**,before_remove : function() {
						return true;
					}*/
        ,
        preview_error : function(filename, error_code) {
            //name of the file that failed
            //error_code values
            //1 = 'FILE_LOAD_FAILED',
            //2 = 'IMAGE_LOAD_FAILED',
            //3 = 'THUMBNAIL_FAILED'
            //alert(error_code);
        }

    }).on('change', function(){
        //console.log($(this).data('ace_input_files'));
        //console.log($(this).data('ace_input_method'));
    });


    //dynamically change allowed formats by changing before_change callback function
    $('#id-file-format').removeAttr('checked').on('change', function() {
        var before_change
        var btn_choose
        var no_icon
        if(this.checked) {
            btn_choose = "Drop images here or click to choose";
            no_icon = "icon-picture";
            before_change = function(files, dropped) {
                var allowed_files = [];
                for(var i = 0 ; i < files.length; i++) {
                    var file = files[i];
                    if(typeof file === "string") {
                        //IE8 and browsers that don't support File Object
                        if(! (/\.(jpe?g|png|gif|bmp)$/i).test(file) ) return false;
                    }
                    else {
                        var type = $.trim(file.type);
                        if( ( type.length > 0 && ! (/^image\/(jpe?g|png|gif|bmp)$/i).test(type) )
                                || ( type.length == 0 && ! (/\.(jpe?g|png|gif|bmp)$/i).test(file.name) )//for android's default browser which gives an empty string for file.type
                        ) continue;//not an image so don't keep this file
                    }

                    allowed_files.push(file);
                }
                if(allowed_files.length == 0) return false;

                return allowed_files;
            }
        }
        else {
            btn_choose = "Drop files here or click to choose";
            no_icon = "icon-cloud-upload";
            before_change = function(files, dropped) {
                return files;
            }
        }
        var file_input = $('#id-input-file-3');
        file_input.ace_file_input('update_settings', {'before_change':before_change, 'btn_choose': btn_choose, 'no_icon':no_icon})
        file_input.ace_file_input('reset_input');
    });



</script>