<p id="notice"><%= notice %></p>

<p>
  <strong>No:</strong>
  <%= @item_form_metaelement.no %>
</p>

<p>
  <strong>Parentno:</strong>
  <%= @item_form_metaelement.parentno %>
</p>

<p>
  <strong>Item:</strong>
  <%= @item_form_metaelement.item_id %>
</p>

<p>
  <strong>Crf info:</strong>
  <%= @item_form_metaelement.crf_info_id %>
</p>

<p>
  <strong>Section:</strong>
  <%= @item_form_metaelement.section_id %>
</p>

<p>
  <strong>Header:</strong>
  <%= @item_form_metaelement.header %>
</p>

<p>
  <strong>Subheader:</strong>
  <%= @item_form_metaelement.subheader %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @item_form_metaelement.parent_id %>
</p>

<p>
  <strong>Ordinal:</strong>
  <%= @item_form_metaelement.ordinal %>
</p>

<p>
  <strong>Required:</strong>
  <%= @item_form_metaelement.required %>
</p>

<p>
  <strong>Show item:</strong>
  <%= @item_form_metaelement.show_item %>
</p>

<p>
  <strong>Trigger:</strong>
  <%= @item_form_metaelement.trigger %>
</p>

<p>
  <strong>Options index:</strong>
  <%= @item_form_metaelement.options_index %>
</p>

<p>
  <strong>Item group:</strong>
  <%= @item_form_metaelement.item_group_id %>
</p>

<%= link_to 'Edit', edit_item_form_metaelement_path(@item_form_metaelement) %> |
<%= link_to 'Back', item_form_metaelements_path %>
