<script type="text/javascript">
    try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
</script>
<div class="sidebar-shortcuts" id="sidebar-shortcuts">
  <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
    <button class="btn btn-success">
      <i class="icon-signal"></i>
    </button>

    <button class="btn btn-info">
      <i class="icon-pencil"></i>
    </button>

    <button class="btn btn-warning">
      <i class="icon-group"></i>
    </button>

    <button class="btn btn-danger">
      <i class="icon-cogs"></i>
    </button>
  </div>

  <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
    <span class="btn btn-success"></span>

    <span class="btn btn-info"></span>

    <span class="btn btn-warning"></span>

    <span class="btn btn-danger"></span>
  </div>
</div><!-- #sidebar-shortcuts -->

<ul class="nav nav-list">
  <li class="active">
    <a href="/patients/<%= params[:patient_id] %>/show_form?menu_type=<%= params[:menu_type]||=2 %>" class="pjax-link">
      <i class="icon-dashboard"></i>
      <span class="menu-text"> 就诊信息 </span>
    </a>
  </li>
  <% menus= Menu.where('menu_type=?',params[:menu_type].to_i).order('seq  asc') %>
  <% first_level_menus = menus.select{|menu|menu.menu_id==0} %>
  <% first_level_menus.each_with_index do |first_level_menu,index| %>
      <% index=index+1 %>
      <%# crf_infos = first_level_menu.crf_infos.select('crf_infos.* , menus_crf_infos.seq as seq').order('menus_crf_infos.seq asc') %>
      <% menus_crf_infos = first_level_menu.menus_crf_infos.includes(:crf_info).order('menus_crf_infos.seq asc') %>
      <li class="<%= nav_li_class(index,params[:menu_id]) %>">
        <a href="<%= first_level_menu.link %>" class="<%= nav_a_class(first_level_menu) %>">
          <i class="<%= first_level_menu.icon_class %>"></i>
          <span class="menu-text"> <%= first_level_menu.name_cn %></span>
        </a>
        <!--二级菜单判断-->
        <% second_level_menus= first_level_menu.submenus %>
        <% if ((!second_level_menus.empty?) || (menus_crf_infos.length>0))%>
            <ul class="submenu">
              <!--菜单上所挂表单开始-->
              <% menus_crf_infos.each do |menus_crf_info| %>
                  <li>
                    <a href="/item_value_orders?menus_crf_info_id=<%= menus_crf_info.id %>&crf_info_id=<%= menus_crf_info.crf_info_id %>&&menu_type=<%= params[:menu_type] %>&&patient_id=<%= params[:patient_id] %>&&patient_visit_id=<%=params[:patient_visit_id] %>" class="pjax-link">
                      <i class="icon-double-angle-right"></i>
                      <%= menus_crf_info.crf_info.name %>
                    </a>
                  </li>
              <% end %>
              <!--菜单上所挂的表单结束-->
              <% second_level_menus.each do |second_level_menu| %>
                  <li>
                    <a href="<%= second_level_menu.link %>" class="pjax-link">
                      <i class="icon-double-angle-right"></i>
                      <%= second_level_menu.name_cn %>
                      <% third_level_menus= second_level_menu.submenus %>
                      <% if !third_level_menus.empty? %>
                          <b class="arrow icon-angle-down"></b>
                      <% end %>
                    </a>
                    <!-- 三级菜单判断 -->
                    <% if !third_level_menus.empty? %>
                        <ul class="submenu">
                          <% third_level_menus.each do |third_level_menu| %>
                              <li>
                                <a href="<%= third_level_menu.link %>" class="pjax-link">
                                  <i class="icon-pencil"></i>
                                  <%= third_level_menu.name_cn %>
                                </a>
                              </li>
                          <% end %>
                        </ul>
                    <% end %>
                  </li>
              <% end %>
            </ul>
        <% end %>
      </li>
  <% end %>

  <li class="<%= nav_li_class(1,params[:menu_id]) %>">
    <a href="#" class="dropdown-toggle">
      <i class="icon-dashboard"></i>
      <span class="menu-text"> 统计</span>
    </a>
    <ul class="submenu">
      <!--菜单上所挂表单开始-->

      <li>
        <a href="/observes?menu_type=<%= params[:menu_type] %>&&patient_id=<%= params[:patient_id] %>&&patient_visit_id=<%=params[:patient_visit_id] %>" class="pjax-link">
          <i class="icon-double-angle-right"></i>
          癫痫观察表
        </a>
      </li>
      <li>
        <a href="/statistics/index?menu_type=<%= params[:menu_type] %>&&patient_id=<%= params[:patient_id] %>&&patient_visit_id=<%=params[:patient_visit_id] %>" class="pjax-link">
          <i class="icon-double-angle-right"></i>

          发作次数及用药统计
        </a>
      </li>
      <!--<li>-->
        <!--<a href="/statistics/by_month_bak?menu_type=<%= params[:menu_type] %>&&patient_id=<%= params[:patient_id] %>&&patient_visit_id=<%=params[:patient_visit_id] %>" class="pjax-link">-->
          <!--<i class="icon-double-angle-right"></i>-->
          <!--发作次数统计表-按月-->
        <!--</a>-->
      <!--</li>-->
      <li>
        <a href="/statistics/index2?menu_type=<%= params[:menu_type] %>&&patient_id=<%= params[:patient_id] %>&&patient_visit_id=<%=params[:patient_visit_id] %>" class="pjax-link">
          <i class="icon-double-angle-right"></i>
          发作次数统计
        </a>
      </li>

      <!--<li>-->
        <!--<a href="/statistics/relative?menu_type=<%= params[:menu_type] %>&&patient_id=<%= params[:patient_id] %>&&patient_visit_id=<%=params[:patient_visit_id] %>" class="pjax-link">-->
          <!--<i class="icon-double-angle-right"></i>-->
          <!--相关性统计-->
        <!--</a>-->
      <!--</li>-->
    </ul>
  </li>
</ul>

<!-- /.nav-list -->
<div class="sidebar-collapse" id="sidebar-collapse">
  <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
</div>

<script type="text/javascript">
    try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
</script>