<!DOCTYPE html>
<html lang="en">
<head>
  <title>患者信息管理系统</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- basic styles -->
  <link href="/assets/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/font-awesome.min.css" />

  <!--[if IE 7]>
  <link rel="stylesheet" href="/assets/font-awesome-ie7.min.css" />
  <![endif]-->

  <!-- page specific plugin styles -->
  <link rel="stylesheet" href="/assets/jquery-ui-1.10.3.custom.min.css" />
  <link rel="stylesheet" href="/assets/chosen.css" />
  <link rel="stylesheet" href="/assets/datepicker.css" />
  <link rel="stylesheet" href="/assets/bootstrap-timepicker.css" />
  <link rel="stylesheet" href="/assets/daterangepicker.css" />
  <!-- fonts -->

  <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />-->

  <!-- ace styles -->

  <link rel="stylesheet" href="/assets/ace.min.css" />
  <link rel="stylesheet" href="/assets/ace-rtl.min.css" />
  <link rel="stylesheet" href="/assets/ace-skins.min.css" />

  <!--[if lte IE 8]>
  <link rel="stylesheet" href="/assets/ace-ie.min.css" />
  <![endif]-->

  <!-- inline styles related to this page -->

  <!-- ace settings handler -->

  <script src="/assets/ace-extra.min.js"></script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

  <!--[if lt IE 9]>
  <script src="/assets/html5shiv.js"></script>
  <script src="/assets/respond.min.js"></script>
  <!--[if !IE]> -->
  <script src='/assets/jquery-2.0.3.min.js'></script>
  <!-- <![endif]-->
  <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>-->
  <!--[if IE]>
  <script src='/assets/jquery-1.10.2.min.js'></script>
  <![endif]-->
  <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
  <!--[if !IE]> -->
  <script type="text/javascript">
      window.jQuery || document.write("<script src='/assets/jquery-2.0.3.min.js'>"+"<"+"script>");
  </script>
  <!-- <![endif]-->

  <!--[if IE]>
  <script type="text/javascript">
      window.jQuery || document.write("<script src='/assets/jquery-1.10.2.min.js'>"+"<"+"script>");
  </script>
  <![endif]-->
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

<div class="main-container" id="main-container">
  <script type="text/javascript">
      try{ace.settings.check('main-container' , 'fixed')}catch(e){}
  </script>

  <div class="main-container-inner">
    <a class="menu-toggler" id="menu-toggler" href="#">
      <span class="menu-text"></span>
    </a>

    <div class="sidebar" id="sidebar">
      <script type="text/javascript">
          try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
      </script>

      <%= render 'layouts/sidebar' %>

      <ul class="nav nav-list">
        <li class="active">
          <a href="/patient_visits/<%= params[:patient_visit_id] %>">
            <i class="icon-dashboard"></i>
            <span class="menu-text"> 就诊信息 </span>
          </a>
        </li>
        <% menus= Menu.where('menu_type=?',params[:menu_type].to_i).order('id asc') %>
        <% first_level_menus = menus.select{|menu|menu.menu_id==0} %>
        <% first_level_menus.each_with_index do |first_level_menu,index| %>
            <% crf_infos = first_level_menu.crf_infos %>
            <li class="<%= nav_li_class(index,params[:menu_id]) %>">
              <a href="<%= first_level_menu.link %>" class="<%= nav_a_class(first_level_menu) %>">
                <i class="<%= first_level_menu.icon_class %>"></i>
                <span class="menu-text"> <%= first_level_menu.name_cn %></span>
              </a>
              <!--二级菜单判断-->
              <% second_level_menus= first_level_menu.submenus %>
              <% if ((!second_level_menus.empty?) || (crf_infos.length>0))%>
                  <ul class="submenu">
                    <!--菜单上所挂表单开始-->
                    <% crf_infos.each do |crf_info| %>
                        <li>
                          <a href="/item_form_metaelements/new?crf_info_id=<%= crf_info.id %>&&menu_type=<%= params[:menu_type] %>" class="pjax-link">
                            <i class="icon-double-angle-right"></i>
                            <%= crf_info.name %>
                          </a>
                        </li>
                    <% end %>
                    <!--菜单上所挂的表单结束-->
                    <% second_level_menus.each do |second_level_menu| %>
                        <li>
                          <a href="<%= second_level_menu.link %>" class="pjax-link">
                            <i class="icon-double-angle-right"></i>
                            <%= second_level_menu.name_cn %>
                            <% third_level_menus= second_level_menu.submenus %>
                            <% if !third_level_menus.empty? %>
                                <b class="arrow icon-angle-down"></b>
                            <% end %>
                          </a>
                          <!-- 三级菜单判断 -->
                          <% if !third_level_menus.empty? %>
                              <ul class="submenu">
                                <% third_level_menus.each do |third_level_menu| %>
                                    <li>
                                      <a href="<%= third_level_menu.link %>" class="pjax-link">
                                        <i class="icon-pencil"></i>
                                        <%= third_level_menu.name_cn %>
                                      </a>
                                    </li>
                                <% end %>
                              </ul>
                          <% end %>
                        </li>


                    <% end %>
                  </ul>
              <% end %>

            </li>
        <% end %>

      </ul>

      <!-- /.nav-list -->

      <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
      </div>

      <script type="text/javascript">
          try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
      </script>
    </div>

    <div class="main-content" id="pjax-container">
      <%= yield %>
    </div><!-- /.main-content -->


  </div><!-- /.main-container-inner -->

  <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
  </a>
</div><!-- /.main-container -->


<!-- basic scripts -->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='/assets/jquery.mobile.custom.min.js'>"+"<"+"script>");
</script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/typeahead-bs2.min.js"></script>
<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src="/assets/excanvas.min.js"></script>
<![endif]-->

<script src="/assets/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/assets/jquery.ui.touch-punch.min.js"></script>

<!--form表单js开始-->
<script src="/assets/chosen.jquery.min.js"></script>
<script src="/assets/fuelux/fuelux.spinner.min.js"></script>
<script src="/assets/date-time/bootstrap-datepicker.min.js"></script>
<script src="/assets/date-time/bootstrap-timepicker.min.js"></script>
<script src="/assets/date-time/moment.min.js"></script>
<script src="/assets/date-time/daterangepicker.min.js"></script>
<script src="/assets/bootstrap-colorpicker.min.js"></script>
<script src="/assets/jquery.knob.min.js"></script>
<script src="/assets/jquery.autosize.min.js"></script>
<script src="/assets/jquery.inputlimiter.1.3.1.min.js"></script>
<script src="/assets/jquery.maskedinput.min.js"></script>
<script src="/assets/bootstrap-tag.min.js"></script>
<!--form表单js结束-->

<script src="/assets/jquery.slimscroll.min.js"></script>
<script src="/assets/jquery.easy-pie-chart.min.js"></script>
<script src="/assets/jquery.sparkline.min.js"></script>
<script src="/assets/flot/jquery.flot.min.js"></script>
<script src="/assets/flot/jquery.flot.pie.min.js"></script>
<script src="/assets/flot/jquery.flot.resize.min.js"></script>

<!-- ace scripts -->

<script src="/assets/ace-elements.min.js"></script>
<script src="/assets/ace.min.js"></script>

<!-- inline scripts related to this page -->
<script src='/assets/jquery.pjax.js'></script>
<script src='/assets/jquery_ujs.js'></script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function($) {
        //pjax局部刷新
        $(document).pjax('a .pjax', '#pjax-container');
        // form info js
        $(".chosen-select").chosen();
        $('#chosen-multiple-style').on('click', function(e){
            var target = $(e.target).find('input[type=radio]');
            var which = parseInt(target.val());
            if(which == 2) $('#form-field-select-4').addClass('tag-input-style');
            else $('#form-field-select-4').removeClass('tag-input-style');
        });
        $('.date-picker').datepicker({autoclose:true, width:20}).next().on(ace.click_event, function(){
            $(this).prev().focus();
        });

    })


</script>
</body>
</html>