<!DOCTYPE html>
<html lang="en">
<head>
  <title>患者信息管理系统</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script src='/assets/jquery-2.0.3.min.js'></script>
  <script src='/assets/jquery_ujs.js'></script>


  <!-- basic styles -->
  <link href="/assets/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/font-awesome.min.css" />

  <!--[if IE 7]>
  <link rel="stylesheet" href="/assets/font-awesome-ie7.min.css" />
  <![endif]-->

  <!-- page specific plugin styles -->
  <link rel="stylesheet" href="/assets/jquery-ui-1.10.3.custom.min.css" />
  <link rel="stylesheet" href="/assets/chosen.css" />
  <link rel="stylesheet" href="/assets/datepicker.css" />
  <link rel="stylesheet" href="/assets/bootstrap-timepicker.css" />
  <link rel="stylesheet" href="/assets/daterangepicker.css" />
  <!-- fonts -->

  <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />-->

  <!-- ace styles -->

  <link rel="stylesheet" href="/assets/ace.min.css" />
  <link rel="stylesheet" href="/assets/ace-rtl.min.css" />
  <link rel="stylesheet" href="/assets/ace-skins.min.css" />

  <!--[if lte IE 8]>
  <link rel="stylesheet" href="/assets/ace-ie.min.css" />
  <![endif]-->

  <!-- inline styles related to this page -->

  <!-- ace settings handler -->

  <script src="/assets/ace-extra.min.js"></script>
  <%= javascript_include_tag 'jquery.pjax.js' %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

  <!--[if lt IE 9]>
  <script src="/assets/html5shiv.js"></script>
  <script src="/assets/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default" id="navbar">
  <script type="text/javascript">
      try{ace.settings.check('navbar' , 'fixed')}catch(e){}
  </script>

  <div class="navbar-container" id="navbar-container">
    <div class="navbar-header pull-left">
      <a href="#" class="navbar-brand">
        <small>
          <i class="icon-leaf"></i>
          ACE后台管理系统
        </small>
      </a><!-- /.brand -->
    </div><!-- /.navbar-header -->

    <div class="navbar-header pull-right" role="navigation">
      <ul class="nav ace-nav">
        <li class="grey">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="icon-tasks"></i>
            <span class="badge badge-grey">4</span>
          </a>

          <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
            <li class="dropdown-header">
              <i class="icon-ok"></i>
              还有4个任务完成
            </li>

            <li>
              <a href="#">
                <div class="clearfix">
                  <span class="pull-left">软件更新</span>
                  <span class="pull-right">65%</span>
                </div>

                <div class="progress progress-mini ">
                  <div style="width:65%" class="progress-bar "></div>
                </div>
              </a>
            </li>

            <li>
              <a href="#">
                <div class="clearfix">
                  <span class="pull-left">硬件更新</span>
                  <span class="pull-right">35%</span>
                </div>

                <div class="progress progress-mini ">
                  <div style="width:35%" class="progress-bar progress-bar-danger"></div>
                </div>
              </a>
            </li>

            <li>
              <a href="#">
                <div class="clearfix">
                  <span class="pull-left">单元测试</span>
                  <span class="pull-right">15%</span>
                </div>

                <div class="progress progress-mini ">
                  <div style="width:15%" class="progress-bar progress-bar-warning"></div>
                </div>
              </a>
            </li>

            <li>
              <a href="#">
                <div class="clearfix">
                  <span class="pull-left">错误修复</span>
                  <span class="pull-right">90%</span>
                </div>

                <div class="progress progress-mini progress-striped active">
                  <div style="width:90%" class="progress-bar progress-bar-success"></div>
                </div>
              </a>
            </li>

            <li>
              <a href="#">
                查看任务详情
                <i class="icon-arrow-right"></i>
              </a>
            </li>
          </ul>
        </li>

        <li class="purple">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="icon-bell-alt icon-animated-bell"></i>
            <span class="badge badge-important">8</span>
          </a>

          <ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
            <li class="dropdown-header">
              <i class="icon-warning-sign"></i>
              8条通知
            </li>

            <li>
              <a href="#">
                <div class="clearfix">
                    <span class="pull-left">
                        <i class="btn btn-xs no-hover btn-pink icon-comment"></i>
                        新闻评论
                    </span>
                  <span class="pull-right badge badge-info">+12</span>
                </div>
              </a>
            </li>

            <li>
              <a href="#">
                <i class="btn btn-xs btn-primary icon-user"></i>
                切换为编辑登录..
              </a>
            </li>

            <li>
              <a href="#">
                <div class="clearfix">
                    <span class="pull-left">
                        <i class="btn btn-xs no-hover btn-success icon-shopping-cart"></i>
                        新订单
                    </span>
                  <span class="pull-right badge badge-success">+8</span>
                </div>
              </a>
            </li>

            <li>
              <a href="#">
                <div class="clearfix">
                    <span class="pull-left">
                        <i class="btn btn-xs no-hover btn-info icon-twitter"></i>
                        粉丝
                    </span>
                  <span class="pull-right badge badge-info">+11</span>
                </div>
              </a>
            </li>

            <li>
              <a href="#">
                查看所有通知
                <i class="icon-arrow-right"></i>
              </a>
            </li>
          </ul>
        </li>

        <li class="green">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="icon-envelope icon-animated-vertical"></i>
            <span class="badge badge-success">5</span>
          </a>

          <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
            <li class="dropdown-header">
              <i class="icon-envelope-alt"></i>
              5条消息
            </li>

            <li>
              <a href="#">
                <img src="/assets/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />
                <span class="msg-body">
                    <span class="msg-title">
                        <span class="blue">Alex:</span>
                        不知道写啥 ...
                    </span>

                    <span class="msg-time">
                        <i class="icon-time"></i>
                        <span>1分钟以前</span>
                    </span>
                </span>
              </a>
            </li>

            <li>
              <a href="#">
                <img src="/assets/avatars/avatar3.png" class="msg-photo" alt="Susan's Avatar" />
                <span class="msg-body">
                    <span class="msg-title">
                        <span class="blue">Susan:</span>
                        不知道翻译...
                    </span>

                    <span class="msg-time">
                        <i class="icon-time"></i>
                        <span>20分钟以前</span>
                    </span>
                </span>
              </a>
            </li>

            <li>
              <a href="#">
                <img src="/assets/avatars/avatar4.png" class="msg-photo" alt="Bob's Avatar" />
                <span class="msg-body">
                    <span class="msg-title">
                        <span class="blue">Bob:</span>
                        到底是不是英文 ...
                    </span>

                    <span class="msg-time">
                        <i class="icon-time"></i>
                        <span>下午3:15</span>
                    </span>
                </span>
              </a>
            </li>

            <li>
              <a href="inbox.html">
                查看所有消息
                <i class="icon-arrow-right"></i>
              </a>
            </li>
          </ul>
        </li>

        <li class="light-blue">
          <a data-toggle="dropdown" href="#" class="dropdown-toggle">
            <img class="nav-user-photo" src="/assets/avatars/user.jpg" alt="Jason's Photo" />
            <span class="user-info">
                <small>欢迎光临,</small>
                Jason
            </span>

            <i class="icon-caret-down"></i>
          </a>

          <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
            <li>
              <a href="#">
                <i class="icon-cog"></i>
                设置
              </a>
            </li>

            <li>
              <a href="#">
                <i class="icon-user"></i>
                个人资料
              </a>
            </li>

            <li class="divider"></li>

            <li>
              <a href="/users/sign_out">
                <i class="icon-off"></i>
                退出
              </a>
            </li>
          </ul>
        </li>
      </ul><!-- /.ace-nav -->
    </div><!-- /.navbar-header -->
  </div><!-- /.container -->
</div>

<div class="main-container" id="main-container">
  <script type="text/javascript">
      try{ace.settings.check('main-container' , 'fixed')}catch(e){}
  </script>

  <div class="main-container-inner">
    <a class="menu-toggler" id="menu-toggler" href="#">
      <span class="menu-text"></span>
    </a>

    <div class="sidebar" id="sidebar">
      <script type="text/javascript">
          try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
      </script>

      <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
          <button class="btn btn-success">
            <i class="icon-signal"></i>
          </button>

          <button class="btn btn-info">
            <i class="icon-pencil"></i>
          </button>

          <button class="btn btn-warning">
            <i class="icon-group"></i>
          </button>

          <button class="btn btn-danger">
            <i class="icon-cogs"></i>
          </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
          <span class="btn btn-success"></span>

          <span class="btn btn-info"></span>

          <span class="btn btn-warning"></span>

          <span class="btn btn-danger"></span>
        </div>
      </div><!-- #sidebar-shortcuts -->

      <ul class="nav nav-list">
        <% menus= Menu.where('menu_type=?',params[:menu_type].to_i).order('id asc') %>
        <% first_level_menus = menus.select{|menu|menu.menu_id==0} %>

        <% first_level_menus.each_with_index do |first_level_menu,index| %>
            <% crf_infos = first_level_menu.crf_infos %>
            <li class="<%= nav_li_class(index,params[:menu_id]) %>">
              <a href="<%= first_level_menu.link %>" class="<%= nav_a_class(first_level_menu) %>">
                <i class="<%= first_level_menu.icon_class %>"></i>
                <span class="menu-text"> <%= first_level_menu.name_cn %></span>
              </a>

              <!--二级菜单判断-->
              <% second_level_menus= first_level_menu.submenus %>

              <% if ((!second_level_menus.empty?) || (crf_infos.length>0))%>
                  <ul class="submenu">
                    <!--菜单上所挂表单开始-->
                    <% crf_infos.each do |crf_info| %>
                        <li>
                          <a href="/item_form_metaelements/new?crf_info_id=<%= crf_info.id %>&&menu_type=<%= params[:menu_type] %>" class="pjax-link">
                            <i class="icon-double-angle-right"></i>
                            <%= crf_info.name %>
                          </a>
                        </li>
                    <% end %>
                    <!--菜单上所挂的表单结束-->
                    <% second_level_menus.each do |second_level_menu| %>
                        <li>
                          <a href="<%= second_level_menu.link %>" class="pjax-link">
                            <i class="icon-double-angle-right"></i>
                            <%= second_level_menu.name_cn %>
                            <% third_level_menus= second_level_menu.submenus %>
                            <% if !third_level_menus.empty? %>
                                <b class="arrow icon-angle-down"></b>
                            <% end %>
                          </a>
                          <!-- 三级菜单判断 -->
                          <% if !third_level_menus.empty? %>
                              <ul class="submenu">
                                <% third_level_menus.each do |third_level_menu| %>
                                    <li>
                                      <a href="<%= third_level_menu.link %>" class="pjax-link">
                                        <i class="icon-pencil"></i>
                                        <%= third_level_menu.name_cn %>
                                      </a>
                                    </li>
                                <% end %>
                              </ul>
                          <% end %>
                        </li>


                    <% end %>
                  </ul>
              <% end %>

            </li>
        <% end %>

      </ul>

      <!-- /.nav-list -->

      <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
      </div>

      <script type="text/javascript">
          try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
      </script>
    </div>

    <div class="main-content" id="pjax-container">
      <%= yield %>
    </div><!-- /.main-content -->


  </div><!-- /.main-container-inner -->

  <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
  </a>
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->
<script src='/assets/jquery-2.0.3.min.js'></script>
<!-- <![endif]-->
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>-->
<!--[if IE]>
<script src='/assets/jquery-1.10.2.min.js'></script>
<![endif]-->
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/jquery-2.0.3.min.js'>"+"<"+"script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/jquery-1.10.2.min.js'>"+"<"+"script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='/assets/jquery.mobile.custom.min.js'>"+"<"+"script>");
</script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/typeahead-bs2.min.js"></script>


<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src="/assets/excanvas.min.js"></script>
<![endif]-->

<script src="/assets/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/assets/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/chosen.jquery.min.js"></script>
<script src="/assets/jquery.slimscroll.min.js"></script>
<script src="/assets/jquery.easy-pie-chart.min.js"></script>
<script src="/assets/jquery.sparkline.min.js"></script>
<script src="/assets/flot/jquery.flot.min.js"></script>
<script src="/assets/flot/jquery.flot.pie.min.js"></script>
<script src="/assets/flot/jquery.flot.resize.min.js"></script>



<script src="/assets/fuelux/fuelux.spinner.min.js"></script>
<script src="/assets/date-time/bootstrap-datepicker.min.js"></script>
<script src="/assets/date-time/bootstrap-timepicker.min.js"></script>
<script src="/assets/date-time/moment.min.js"></script>
<script src="/assets/date-time/daterangepicker.min.js"></script>


<script src="/assets/ace-elements.min.js"></script>
<script src="/assets/ace.min.js"></script>


<!-- inline scripts related to this page -->

<script type="text/javascript">
    jQuery(function($) {
        // pjax局部刷新
        $(document).pjax('a', '#pjax-container');
        // select chosen
        $(".chosen-select").chosen();
        // chosen-multiple
        $('#chosen-multiple-style').on('click', function(e){
            var target = $(e.target).find('input[type=radio]');
            var which = parseInt(target.val());
            if(which == 2) $('#form-field-select-4').addClass('tag-input-style');
            else $('#form-field-select-4').removeClass('tag-input-style');
        });
        // 时间
        $('.date-picker').datepicker({autoclose:true, width:20}).next().on(ace.click_event, function(){
            $(this).prev().focus();
        });

    })


</script>
</body>
</html>

